/* Start Styling Media Query min-width: 320px (Mobile S) */
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  padding: 7% 6% 6%;
  line-height: 1.1;
}

h2 {
  color: black;
  font-size: 1.7rem;
  font-weight: 500;
}

p {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 55%);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2%
}

a {
  color: white;
  opacity: 0.9;
  text-decoration: none;
  line-height: 2;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.05));
}

figcaption {
  font-size: 1.3rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  margin: 0 0 5% 4%;
}

hr {
  border-style: solid none none;
  width: 80%;
  color: white;
  opacity: 0.2;
  margin: 0 auto;
}

/* Header Section */
.headerSection {
  background: no-repeat url("../images/mobile/image-hero.jpg");
  background-size: 100%;
  background-position: 0 30%;
  padding-bottom: 55%;
}

.heading {
  width: 86%;
  margin: 30% auto 0;
  border: solid white 2px;
}

/* Navbar Styling Mobile Design */
.navbar {
  width: 100%;
  margin: auto;
  padding-top: 6%;
  position: relative;
  z-index: 1;
}

.navbarContent {
  width: 86%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0
}

.logoImage {
  width: 50%;
}

.logo {
  width: 99%;
}

.openCloseSymbol {
  /* hamburger Icon */
  background: center / contain no-repeat url("../images/icon-hamburger.svg");
  width: 24px;
  height: 20px;
}

.closeIcon {
  background: center / contain no-repeat url("../images/icon-close.svg");
  width: 20px;
}

.mobileToggleBackground {
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
  padding: 46% 0 39%;
}

.hidden {
  display: none;
}

.navbarLinks {
  width: 86%;
  margin: auto;
}

/* First Section "About Us" */
.aboutUsSection {
  margin: 20% auto;
  width: 86%;
  text-align: center;
}

.vrImage {
  width: 100%;
}

.aboutUs {
  margin: 14% auto;
}

/* Second Section "Creations" */
.creationsSection {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 3%;
  width: 86%;
  padding-bottom: 50%;
}

.creationHeading {
  margin: 0 auto;
  text-align: center;
}

.creation {
  width: 100%;
  cursor: pointer;
}

.allCreations {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5%;
  padding-bottom: 40%;
}

.creationImg {
  width: 100%;
  height: 100%;
}

.gridCaption {
  width: 20%;
}

.button {
  justify-self: center;
  width: 50%;
}

.btn {
  width: 100%;
  border: black solid 1px;
  background-color: white;
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 5% 0;
}

/* Alternative Solution with divs */
/* .filter (instead of figure{...}) {
  height: 240px;
  width: 100%;
  position: relative;
}

.filter::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
}

.image {
  background-image: url("../images/mobile/image-grid.jpg");
  width: 100%;
  height: 240px;
} */
/* Footer And Attribution Sections  */
.footerAndAttribution {
  background-color: black;
}

/* Footer Section */
.footer {
  padding: 15% 0 10%;
}

.footerContent {
  display: grid;
  width: 86%;
  margin: 0 auto;
}

.footerLogo {
  margin: 0 auto;
}

.links {
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 0 12%;
}

.links a {
  line-height: 2.2;
}

.socialMediaLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto 7%;
}

.copyright {
  text-align: center;
}

.copyright p {
  font-size: 0.85rem;
  margin: 0;
}

/* Attribution Section  */
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 5% 0 3%;
  opacity: 0.8;
}

/* Media Query min-width: 375px (Mobile M) */
@media all and (min-width: 375px) {

  h1 {
    font-size: 2.5rem;
    padding-right: 8%;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    margin-top: 5%;
    line-height: 1.6;
  }

  figcaption {
    font-size: 1.5rem;
    margin: 0 0 6% 6%;
  }

  /* Navbar Styling Mobile Design */
  .logoImage {
    width: 55%;
  }

  .mobileToggleBackground {
    font-size: 1.75rem;
  }

  /* Section "About us"  */

  .aboutUsSection {
    margin: 23% auto;
  }

  /* Section "Creations"  */

  .creationsSection {
    grid-gap: 4%;
  }

  .allCreations {
    grid-gap: 2%;
    padding-bottom: 50%;
  }

  .btn {
    border-width: 1.5px;
    padding-top: 6%;
  }

  /* Footer Section  */

  .links a {
    line-height: 2.5;
  }

  .copyright p {
    font-size: 0.9rem;
  }
}

/* Media Query min-width: 425px (Mobile L) */
@media all and (min-width: 425px) {

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  p {
    line-height: 1.8;
  }

  figcaption {
    font-size: 1.6rem;
  }

  /* Header Section  */

  .heading {
    margin-top: 32%;
  }

  /* Navbar Styling Mobile Design */

  .mobileToggleBackground {
    padding-bottom: 48%;
  }

  /* Section "About us"  */

  .aboutUsSection {
    margin: 25% auto;
  }

}

/* Media Query min-width: 500px */

@media all and (min-width: 500px){

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2;
  }

  figcaption {
    font-size: 2rem;
  }

  /* Navbar Styling Mobile Design */
  .mobileToggleBackground {
    font-size: 1.8rem;
  }

  /* Section "Creations" */

  .btn {
    font-size: 1.3rem;
  }

  /* Footer and Attribution Section*/

  .links {
    margin-top: 7%;
  }

  .links a {
    font-size: 1.1rem;
    line-height: 2.8;
  }

  .attribution {
    font-size: 0.8rem;
  }
}

@media all and (min-width: 750px) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  p {
    font-size: 2rem;
  }

  figcaption {
    font-size: 3rem;
  }

  /* Header Section */
  .headerSection {
    background-position: top;
  }

  /* Navbar Styling Mobile Design */
  .logoImage {
    width: 60%;
  }

  .openCloseSymbol {
    height: 35px;
    width: 100px;
  }

  .closeIcon {
    height: 40px;
  }

  .mobileToggleBackground {
    font-size: 3.2rem;
  }

  /* Section "About us" */

  .aboutUsSection {
    margin: 27% auto 30%;
  }

  /* Section "Creations" */

  .creationsSection {
    grid-gap: 6%;
    padding-bottom: 65%;
  }

  .button {
    margin-top: -5%;
  }

  .btn {
    font-size: 2rem;
  }

  /* Footer And Attribution Section */

  .links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .links a {
    font-size: 2rem;
  }

  .socialMediaLinks {
    justify-content: space-around;
  }

  .socialeMedia {
    width: 150%;
  }

  .copyright p{
    font-size: 1.5rem;
  }

  .attribution {
    font-size: 1.1rem;
  }
}
