/* Start Styling Media Query min-width: 320px (Mobile S) */
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  padding: 7% 6% 6%;
  line-height: 1.1;
}

h2 {
  color: black;
  font-size: 1.7rem;
  font-weight: 500;
}

p {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 55%);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2%
}

a {
  color: white;
  opacity: 0.9;
  text-decoration: none;
  line-height: 2;
  position: relative;
}

a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  opacity: 0.1;
  transition: 0.5s;
}

a:hover::after {
  opacity: 1;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.05));
}

figcaption {
  font-size: 1.3rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  margin: 0 0 5% 4%;
}

hr {
  border-style: solid none none;
  width: 80%;
  color: white;
  opacity: 0.2;
  margin: 0 auto;
}

/* Header Section */
.headerSection {
  background: no-repeat url("../images/mobile/image-hero.jpg");
  background-size: 100%;
  background-position: 0 30%;
  padding-bottom: 55%;
}

.heading {
  width: 86%;
  margin: 30% auto 0;
  border: solid white 2px;
}

/* Navbar Styling Mobile Design */
.navbar {
  width: 100%;
  margin: auto;
  padding-top: 6%;
  position: relative;
  z-index: 1;
}

.navbarContent {
  width: 86%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0
}

.logoImage {
  width: 50%;
}

.logo {
  width: 99%;
}

.openCloseSymbol {
  /* hamburger Icon */
  background: center / contain no-repeat url("../images/icon-hamburger.svg");
  width: 24px;
  height: 20px;
}

.closeIcon {
  background: center / contain no-repeat url("../images/icon-close.svg");
  width: 20px;
}

.mobileToggleBackground {
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
  padding: 46% 0 39%;
}

.hidden {
  display: none;
}

.navbarLinks {
  width: 86%;
  margin: auto;
}

/* First Section "About Us" */
.aboutUsSection {
  margin: 20% auto;
  width: 86%;
  text-align: center;
}

.vrImage {
  width: 100%;
}

.aboutUs {
  margin: 14% auto;
}

/* Second Section "Creations" */
.creationsSection {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 3%;
  width: 86%;
  padding-bottom: 50%;
}

.creationHeading {
  margin: 0 auto;
  text-align: center;
}

.creation {
  width: 100%;
  cursor: pointer;
}

.allCreations {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5%;
  padding-bottom: 40%;
}

.creationImg {
  width: 100%;
  height: 100%;
}

.gridCaption {
  width: 20%;
}

.button {
  justify-self: center;
  width: 50%;
}

.btn {
  width: 100%;
  border: black solid 1px;
  background: none;
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 5% 0;
  cursor: pointer;
}

/* Alternative Solution with divs */
/* .filter (instead of figure{...}) {
  height: 240px;
  width: 100%;
  position: relative;
}

.filter::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
}

.image {
  background-image: url("../images/mobile/image-grid.jpg");
  width: 100%;
  height: 240px;
} */

/* Footer And Attribution Sections  */
.footerAndAttribution {
  background-color: black;
}

/* Footer Section */
.footer {
  padding: 15% 0 10%;
}

.footerContent {
  display: grid;
  width: 86%;
  margin: 0 auto;
}

.footerLogo {
  margin: 0 auto;
}

.links {
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 0 12%;
}

.links a {
  line-height: 2.2;
}

.socialMediaLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto 7%;
}

.copyright {
  text-align: center;
}

.copyright p {
  font-size: 0.85rem;
  margin: 0;
}

/* Attribution Section  */
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 5% 0 3%;
  opacity: 0.8;
}

/* Media Query min-width: 375px (Mobile M) */
@media all and (min-width: 375px) {

  h1 {
    font-size: 2.5rem;
    padding-right: 8%;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    margin-top: 5%;
    line-height: 1.6;
  }

  figcaption {
    font-size: 1.5rem;
    margin: 0 0 6% 6%;
  }

  /* Navbar Styling Mobile Design */
  .logoImage {
    width: 55%;
  }

  .mobileToggleBackground {
    font-size: 1.75rem;
  }

  /* Section "About us"  */

  .aboutUsSection {
    margin: 23% auto;
  }

  /* Section "Creations"  */

  .creationsSection {
    grid-gap: 4%;
  }

  .allCreations {
    grid-gap: 2%;
    padding-bottom: 50%;
  }

  .btn {
    border-width: 1.5px;
    padding-top: 6%;
  }

  /* Footer Section  */

  .links a {
    line-height: 2.5;
  }

  .copyright p {
    font-size: 0.9rem;
  }
}

/* Media Query min-width: 425px (Mobile L) */
@media all and (min-width: 425px) {

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  p {
    line-height: 1.8;
  }

  figcaption {
    font-size: 1.6rem;
  }

  /* Header Section  */

  .heading {
    margin-top: 32%;
  }

  /* Navbar Styling Mobile Design */

  .mobileToggleBackground {
    padding-bottom: 48%;
  }

  /* Section "About us"  */

  .aboutUsSection {
    margin: 25% auto;
  }

}

/* Media Query min-width: 500px */

@media all and (min-width: 500px){

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2;
  }

  figcaption {
    font-size: 2rem;
  }

  /* Navbar Styling Mobile Design */
  .mobileToggleBackground {
    font-size: 1.8rem;
  }

  /* Section "Creations" */

  .btn {
    font-size: 1.3rem;
  }

  /* Footer and Attribution Section*/

  .links {
    margin-top: 7%;
  }

  .links a {
    font-size: 1.1rem;
    line-height: 2.8;
  }

  .attribution {
    font-size: 0.8rem;
  }
}

@media all and (min-width: 750px) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }

  figcaption {
    font-size: 3rem;
  }

  /* Header Section */
  .headerSection {
    background-position: top;
  }

  /* Navbar Styling Mobile Design */
  .logoImage {
    width: 60%;
  }

  .openCloseSymbol {
    height: 35px;
    width: 100px;
  }

  .closeIcon {
    height: 40px;
  }

  .mobileToggleBackground {
    font-size: 3.2rem;
  }

  /* Section "About us" */

  .aboutUsSection {
    margin: 20% auto 30%;
  }

  .vrImageDiv {
    width: 75%;
    margin: 0 auto;
  }

  /* Section "Creations" */

  .creationsSection {
    grid-gap: 6%;
    padding-bottom: 65%;
  }

  .button {
    margin-top: -5%;
  }

  .btn {
    font-size: 2rem;
  }

  /* Footer And Attribution Section */

  .links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .links a {
    font-size: 1.5rem;
  }

  .socialMediaLinks {
    justify-content: space-around;
  }

  .socialeMedia {
    width: 150%;
  }

  .copyright p{
    font-size: 1rem;
  }

  .attribution {
    font-size: 0.9rem;
  }
}

/* Media Query min-width: 1025px */
@media all and (min-width: 1025px) {

  h1 {
    font-size: 4.2rem;
    padding: 6% 6% 4% 6%;
    line-height: 1;
  }

  h2 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1rem;
    margin: 4% 0 0;
    font-size: 15px;
    line-height: 1.7;
  }

  a {
    opacity: 1;
    font-family: "Alata", sans-serif;

  }

  ul {
    display: flex;
  }

  li {
    margin-right: 25px;
    position: relative;
  }

  figure {
    position: relative;
    transition: 0.8s;
  }

  figure::before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.05));
  }

  figure:hover::before {
    background: white;
    opacity: 0.8;
  }

  figcaption {
    font-size: 1.6rem;
    margin: 0 0 12% 15%;
    width: 70%;
  }

  hr {
    width: 86%;
  }

  /* Header Section Styling */
  .headerSection {
    background-image: url("../images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: 0 0;
    padding-bottom: 12%;
    position: relative;
  }

  .headerSection::before {
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .header {
    width: 86%;
    margin: 0 auto;
    position: relative;
  }

  .heading {
    width: 60%;
    margin: 11% 0 0;
  }

  /* Navbar Desktop Styling */

  .navbar {
    padding-top: 5%;
  }

  .logoImage {
    width: 20%;
  }

  .openCloseSymbol, .closeIcon {
    display: none
  }

  .hidden {
    display: block;
  }

  .mobileToggleBackground {
    padding: 0;
    position: static;
    background-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
  }

  .navbarLinks {
    width: 100%;
  }

  /* Section "About Us" Styling */

  .aboutUsSection {
    margin: 15% auto 18%;
    position: relative;
  }

  .vrImageDiv {
    margin: 0;
    width: 67%;
  }

  .aboutUs {
    width: 45%;
    text-align: left;
    margin: 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7% 0 0 6%;
  }

  /* Section "Creations" Styling */

  .creationsSection {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
    padding: 0 0 20% 0;
    margin-bottom: 0;
  }

  .creationHeading {
    margin: 0;
    text-align: left;
    grid-area: 1/1/2/2;
    align-self: center;
  }

  .allCreations {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 4%;
    padding-bottom: 0;
    height: 70%;
    grid-area: 2/1/3/3;
  }

  .creation:hover {
    color: black;
  }

  .button {
    grid-area: 1/2/2/3;
    margin: 0;
    justify-self: flex-end;
    width: 35%;
  }

  .btn {
    font-size: 1.2rem;
    padding: 5% 0;
    position: relative;
    transition: 0.8s;
  }

  .btn:hover {
    color: white;
    background: black;
  }

  /* Footer And Attribution Section Styling */

  .footer {
    padding: 3% 0;
  }

  .footerContent {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 12%;
    align-items: center;
  }

  .footerLogo {
    grid-area: 1/1/2/2;
    margin: 0;
    width: 45%;
  }

  .links {
    grid-area: 2/1/3/2;
    margin: 0;
    justify-content: space-between;
  }

  .links a {
    font-size: 1rem;
  }

  .socialMediaLinks {
    grid-area: 1/3/2/4;
    justify-self: end;
    margin: 0;
    width: 60%;
  }

  .socialeMedia {
    width: 100%;
  }

  .copyright {
    grid-area: 2/3/3/4;
    justify-self: end;
    margin: 0;
  }

  .copyright p {
    font-size: 0.9rem;
  }

  .attribution {
    font-size: 0.8rem;
    padding: 2% 0;
  }

  .attribution a {
    font-family: "Josefin sans", sans-serif;
    position: static;
  }
}

/* Media Query min-width: 1440px */

@media all and (min-width: 1200px) {

  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  figcaption {
    font-size: 1.8rem;
  }

  /* Header Section Styling */

  .heading {
    margin: 12% 0 0;
  }

  .header {
    width: 75%;
  }

  /* Navbar Styling */
  .navbar {
    padding-top: 4%;
  }

  .navbarContent {
    width: 75%;
  }

  /* Section "About Us" Styling */

  .aboutUsSection {
    margin: 10% auto 15%;
    width: 75%;
  }

  .vrImageDiv {
    width: 65%;
  }

  .aboutUs {
    width: 40%;
    padding: 10% 0 0 10%;
  }

  /* Section "Creations" Styling */

  .creationsSection {
    width: 75%;
    margin-bottom: 0;
  }

  .button {
    width: 30%;
  }

  .btn {
    font-size: 15px;
    padding: 6% 0;
  }

  /* Footer and Attribution Section Styling */

  .footerContent {
    width: 75%;
  }
}
